<section id="banner" class="py-3" style="background: #F9F3EC;">
    <div class="container">
      <div class="hero-content py-5 my-3">
        <h2 class="display-1 mt-3 mb-0">Contactez-<span class='text-primary'>Nous</span></h2>
      </div>
    </div>
  </section>
  
  <section class="contact-us">
    <div class="container py-5 my-5">
      <div class="row">
        <div class="contact-info col-lg-6 pb-3">
          <h2 class="text-dark">Formulaire de contact</h2>
          <p>Vous avez des questions, des commentaires ou simplement envie de partager votre passion pour les chats ? <br>
          Nous sommes là pour vous aider ! N’hésitez pas à nous contacter.</p>
          <p class="text-center mt-5">Suivez-nous sur les réseaux sociaux</p>
          <div class="social-links">
              <ul class="d-flex list-unstyled gap-2 justify-content-center">
                <li class="social">
                  <a href="#">
                    <iconify-icon class="social-icon" icon="ri:facebook-fill"></iconify-icon>
                  </a>
                </li>
                <li class="social">
                  <a href="#">
                    <iconify-icon class="social-icon" icon="ri:twitter-fill"></iconify-icon>
                  </a>
                </li>
                <li class="social">
                  <a href="#">
                    <iconify-icon class="social-icon" icon="ri:pinterest-fill"></iconify-icon>
                  </a>
                </li>
                <li class="social">
                  <a href="#">
                    <iconify-icon class="social-icon" icon="ri:instagram-fill"></iconify-icon>
                  </a>
                </li>
                <li class="social">
                  <a href="#">
                    <iconify-icon class="social-icon" icon="ri:youtube-fill"></iconify-icon>
                  </a>
                </li>

              </ul>
            </div>
        </div>
        <div class="inquiry-item col-lg-6">
          <div class="rounded-5">
            <%= render "static_pages/form" %>
            
          </div>
        </div>

        <h3 class='text-center mt-5'>Nous sommes impatients de discuter avec vous et de partager notre passion pour ces adorables boules de poils ! 🐾</h2>
      </div>
    </div>
  </section>