



/*--------------------------------------------------------------
Navbar
--------------------------------------------------------------*/

/* Logo navbar */
.main-logo img {
  width: 300px;
  margin-left: 40px; 
} 




/*--------------------------------------------------------------
Top Banner
--------------------------------------------------------------*/


/* kitten picture top banner */
#banner .img-wrapper img {
  max-width: 200%; 
  
}


/*--------------------------------------------------------------
Bottom Banner
--------------------------------------------------------------*/

.kitten-img {
  margin-left: 200px;
  max-height: 83%; 
  
  
}


/*--------------------------------------------------------------
Shop
--------------------------------------------------------------*/




/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/


/* Logo footer */
#footer img {
  width: 300px; 
  
  
}


.small-text {
  font-size: 14px; 
}




/*--------------------------------------------------------------
Transparent button
--------------------------------------------------------------*/


/* Styles pour les boutons */
/* button.filter-button,
a.filter-button {
  background-color: transparent; 
  border: 2px solid black; 
  color: black; 
  transition: all 0.3s ease-in;
}

/* Styles pour les boutons lors du survol */
/* button.filter-button.active,
button.filter-button:hover,
a.filter-button.active,
a.filter-button:hover {
  background-color: black; 
  color: white; 
} */

/* Styles pour les boutons ajouter au panier (noir) */
/* button.button-checkout,
a.filter-button {
  background-color: rgb(255, 0, 0); 
  border: 2px solid black; 
  color: white; 
  transition: all 0.3s ease-in;
} */

/* Styles pour les boutons lors du survol */
/* button.button-checkout.active,
button.filter-button:hover,
a.filter-button.active,
a.filter-button:hover {
  background-color: rgb(255, 179, 28); 
  color: black; 
} */ 
